<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>express.heanlab.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>SadMachine.ttf</string>
		<string>BebasNeue-Regular.ttf</string>
		<string>Calcula.ttf</string>
		<string>ModernAntiqua-Bold.ttf</string>
		<string>Coffee and Crafts.ttf</string>
		<string>Gotham-Bold</string>
		<string>GashingtonClassy.otf</string>
		<string>RichardSamuels</string>
		<string>Outfit-VariableFont_wght.ttf</string>
		<string>Gotham-Black</string>
		<string>Gotham-Light</string>
		<string>Ubuntu-Light.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>expressColor</string>
		<key>UIImageName</key>
		<string>logo</string>
	</dict>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict/>
	</array>
</dict>
</plist>
